@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --bright-gray: #ddddf7;
  --bright-purple: #a7bcff;
  --light-purple: #8da4f1;
  --mid-purple: #7b96ec;
  --purple: #5d5b8d;
  --dark-purple: #3e3c61;
  --night-purple: #2f2d52;
}

/* APP FORMS */
.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bright-purple);
}

.form-wrapper {
  padding: 1.2em 3.7em;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.6rem;
}

.form-wrapper h2 {
  color: var(--purple);
  font-size: 1.4rem;
  font-weight: 700;
}
.form-wrapper span {
  color: var(--purple);
  font-size: 0.9rem;
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.form input {
  width: 15rem;
  padding: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--bright-purple);
}

.form label {
  gap: 0.6em;
  display: flex;
  align-items: center;
  color: var(--light-purple);
  font-size: 0.8em;
  font-weight: 400;
  cursor: pointer;
}

.form label img {
  width: 2rem;
  height: auto;
}

.form button {
  padding: 0.6em;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
  color: var(--white);
  background-color: var(--mid-purple);
  cursor: pointer;
}

.form button:hover {
  transform: scale(0.92);
  color: var(--mid-purple);
  background-color: var(--white);
  border: 1px solid var(--mid-purple);
}

.form-wrapper p {
  margin-top: 0.6em;
  font-size: 0.9rem;
  color: var(--purple);
}

/* CONTACTS STYLING */
.contacts-messages {
  padding: 0.6em;
  gap: 0.6rem;
  display: flex;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.contacts-messages:hover {
  background-color: var(--night-purple);
}

.contacts-messages img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.contact-info figcaption {
  font-size: 1.1rem;
  font-weight: 500;
}

.contact-info p {
  font-size: 0.8rem;
  color: var(--bright-purple);
}
